notebooks/.ipynb_checkpoints/
notebooks/archive/
notebooks/cycling.ipynb
notebooks/Untitled.ipynb

# data
data/raw/
data/processed/results_arima.csv
Example_prophet/

model/

docs/archive

mydocs/

requirements_v170423.txt
time_series_requirements_v170423.txt

# Make available before workshop (same day)
docs/
notebooks/Starting_notebook.ipynb

# Make available during workshop?
notebooks/01-Intro_time_series_tutorial_v160423.ipynb
notebooks/02-Forecasting_with_SARIMAX_v170423.ipynb
notebooks/03-Forecasting_with_Facebook_Prophet_v160423.ipynb
