notebooks/.ipynb_checkpoints/
notebooks/archive/
notebooks/cycling.ipynb
notebooks/Untitled.ipynb
notebooks/SARIMAX.ipynb
notebooks/SARIMAX-copy1.ipynb
notebooks/Starting_notebook.ipynb
notebooks/02-Forecasting_with_SARIMAX_v220423-Copy1.ipynb
notebooks/02-Forecasting_with_SARIMAX_v220423-Copy2.ipynb

# data
data/raw/
data/processed/results_arima.csv
data/processed/banana_avg_price.csv
Example_prophet/

model/

docs/archive/

mydocs/

requirements_v170423.txt
time_series_requirements_v170423.txt

# Make available before workshop (same day)
docs/
# notebooks/Exercises_Time_Series_Forecasting-Part_01.ipynb
# notebooks/Exercises_Time_Series_Forecasting-Part_02.ipynb
# notebooks/Exercises_Time_Series_Forecasting-Part_03.ipynb


# Make available during workshop?
notebooks/01-Intro_time_series_tutorial_v220423.ipynb
notebooks/02-Forecasting_with_SARIMAX_v220423.ipynb
notebooks/03-Forecasting_with_Facebook_Prophet_v220423.ipynb
notebooks/Examples.ipynb

# Make available after workshop
notebooks/Exercises_Time_Series_Forecasting-Part_01-Answer.ipynb
notebooks/Exercises_Time_Series_Forecasting-Part_02-Answer.ipynb
notebooks/Exercises_Time_Series_Forecasting-Part_03-Answer.ipynb

