notebooks/.ipynb_checkpoints/
notebooks/archive/

# data
data/raw/
data/processed/results_arima.csv
data/processed/banana_avg_price.csv
Example_prophet/

model/

docs/archive/

mydocs/

requirements_v170423.txt
time_series_requirements_v170423.txt
